body{padding:0;margin:0;}
.f-l{float:left;}
.f-r{float:right;}
.clearfix:after { content:"/20"; display:block; visibility:hidden; clear:both; font-size:0; line-height:0; height:0; }
.clearfix { *zoom:1; }
/*header start*/
.header .top{width:100%;height:40px;background-color:#f1f2f7;}
.header .top a{font-size:14px;color:#9c9c9c;}
.header .top .t_left{float:left;height:40px;line-height:40px;margin-left:45px;padding-left:30px;background:url(../img/p_01.png) no-repeat 0% 50%;}
.header .top .t_right{float:right;margin-right:20px;}
.header .top .t_right li{float:left;line-height:40px;margin:0 8px; color:#9c9c9c;}
.header .top .t_right li i{font-size:16px;}
.header .navbox{overflow:hidden;height:70px;width:100%;background-color:#1d70f2;}
.header .nav{margin-left:56px;float:left;}
.header .nav li{float:left;}
.header .nav i,.header .zs i{display:block;float:left;height:30px;width:30px;}
.header .nav li .home{background:url(../img/nav_1.png) no-repeat;}
.header .nav li .aim{background:url(../img/nav_2.png) no-repeat;}
.header .nav li .rw{background:url(../img/nav_3.png) no-repeat;}
.header .nav li .bg{background:url(../img/nav_4.png) no-repeat;}
.header .nav li .app{background:url(../img/nav_5.png) no-repeat;}
.header .nav li .ht{background:url(../img/nav_6.png) no-repeat;}
.header .zs i{background:url(../img/nav_7.png) no-repeat;}
.header a{font-size:18px;color:#fff;line-height:32px;}
.header .zs{padding:19px 30px;}
/*header end*/
/*login start*/
.login{margin:75px auto 0;width:300px;}
.login input{width:300px;margin-bottom:24px;}
/*login start*/
.sidebar_object{color: #AEB2B7;text-decoration: none;padding: 15px 0px 15px 25px;font-size: 16px;outline: medium none;}
.sidebar_object .page{ display:inline-block; height:25px; width:20px;background:url(../img/page_icon.png) no-repeat;}
.sidebar_object span{display:inline-block;}
.wrapper_title{height:45px;border:1px #d2d2d2 solid;background-color:#fff;margin-bottom:17px;}
.wrapper_title span,.wrapper_title a{font-size:16px;color:#666;}
.wrapper_title span{margin:9px 0 0 12px;}
.wrapper_title span .yh{display:inline-block; height:21px; width:30px; background:url(../img/yh.png) no-repeat;}
.wrapper_title a{ line-height:16px;padding:14px 18px;border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid;}
.wrapper_title a i{color:#03a9f4;margin-right:5px;}

.wrapper_title form{ position:relative;}
.wrapper_title input[type="text"]{font-size:15px; width:210px; line-height:25px;padding:9px 15px;border:none;}
.wrapper_title input[type="submit"]{height:30px;width:30px;border:none;background:url(../img/search_icon.png) no-repeat; position:absolute; top:12px; right:5px;}

.content table{border:1px #d2d2d2 solid;}
/*login footer start*/
.footer{position:fixed;bottom:0px;width:100%;text-align:center;color:#bbb;padding:15px 0;border-top:1px #c9c9c9 solid;}
/*login footer end*/

/*user_add start*/
.middle_content{ position:relative; width:100%; height:100%;}
.middle_content .m_box{width:800px;padding-bottom:20px;background-color:#FFF; border-radius:4px;-webkit-box-shadow:0px 0px 25px 15px #d5d5d2;box-shadow:0px 0px 25px 15px #d5d5d2; position:absolute; top:10%; left:21%;}
.middle_content .panel-heading{height:45px; overflow: hidden;border-bottom:1px #d2d2d2 solid;background-color:#fff;margin-bottom:30px;}
.middle_content .panel-heading span{font-size:16px;color:#666;}
.middle_content .panel-heading span{margin:0 0 0 12px; padding-top:9px;}
.middle_content .panel-heading span .yh{display:inline-block; height:21px; width:30px; background:url(../img/yh.png) no-repeat;}

.middle_content table{margin:0 auto;border-spacing: 20px;border-collapse: separate;}
.middle_content table .input-medium{width:345px;}
/*user_add end*/